//@import 'normalize';
// @import 'compass';

$width: 600px;
$color: #f60;
$bg: #ccc;
h1{
	color: $color;
	background: $bg;
	// transform: rotate(-5deg) translateY(50px)
}
// .list {
// 	@include inline-block;
// }