doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='css/style.min.css')
  body
    h1 Hello Gulp
    h1 Hello Gulp
    div
      img(src='images/gulp.jpg', alt='')
    script(src='js/script.js')
